{% extends 'base.html' %}
<!-- titulo mostrado en esta pagina -->
{% block title %} Página de Inicio - El Borracho Fiel {% endblock %}
{% block Principal %}
<a class="navbar-brand" href="{% url 'inicio' %}">
    <img src="{{nosotros.logo.url}}" alt="" height="40">
    {{ nosotros.tituloElBorrachoFiel }}
</a>
{% endblock %}
<!-- contenido de esta pagina -->
{% block registrar %}
<a href="{% url 'paginaLogin' %}" class="btn btn-outline-light me-2">Iniciar Sesión</a>
<a href="{% url 'PaginaNuevoCliente' %}" class="btn btn-outline-light">Registrarse</a>
{% endblock %}
{% block content %}
<main>
    <style>
        .hero-bg {
            background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url('{{inicio.first.imagenFondo.url}}') no-repeat center center/cover;
            color: #fff;
        }

        .hero-content h1,
        .hero-content p {
            color: #fff;
        }

        .btn-primary {
            background-color: #ff7f50;
            border-color: #ff7f50;
            transition: background-color 0.3s, border-color 0.3s;
        }

        .btn-primary:hover {
            background-color: #ff4500;
            border-color: #ff4500;
        }

        p {
            line-height: 1.6;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: 0;
            margin-bottom: 0.5rem;
        }
    </style>

    <section id="inicio" class="hero hero-bg p-lg-5">
        <div class="container p-lg-5">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-12 text-center text-lg-center p-2">
                    <div class="hero-content">
                        <h1>{{ inicio.first.titulo }} <span class="text-warning" id="dynamicPart"></span></h1>
                        <p class="lead">
                            {{ inicio.first.subtitulo }}
                        </p>
                        <a href="{% url 'productos' %}" class="btn btn-primary">Productos</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        const texts = [
            "Conocenos un Poco",
            "Disfrute de Bebidas",
        ];
        let index = 0;

        function changeDynamicPart() {
            const dynamicPart = document.getElementById("dynamicPart");
            dynamicPart.textContent = texts[index];
            index = (index + 1) % texts.length;
        }

        setInterval(changeDynamicPart, 2000);
    </script>


    <!-- Sección de nosotros -->
    <section id="nosotros" class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img width="300px" height="280px" src="{{ inicio.first.imagenQuienesSomos.url }}"
                        class="img rounded" alt="Imagen de Nosotros" />
                </div>
                <div class="col-md-6">
                    <h2 class="mb-4">{{ inicio.first.titulo }}</h2>
                    <p>
                        {{ inicio.first.contenido|safe }}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- seccion de productos  -->
    <section id="productos" class="py-5">
        <div class="container">
            <h2 class="text-center mb-4 text-white">{{ inicio.first.tituloProductos }}</h2>
            <div class="row">
                {% for producto in productos %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}" />
                        <div class="card-body">
                            <h5 class="card-title">{{ producto.nombre }}</h5>
                            <p class="card-text">{{ producto.descripcion }}</p>
                            <p class="card-text text-primary font-weight-bold">Precio: S/.{{ producto.precio }}</p>
                            <a href="{% url 'productos' %}" class="btn btn-success">Comprar</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

</main>
{% endblock %}

{% block Pie_Pagina %}
<style>
    .footer-icon {
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    .footer-icon:hover {
        transform: scale(1.2);
    }

    .footer-link:hover {
        text-decoration: underline !important;
    }
</style>
<div class="row">
    <div class="col-md-4">
        <h4 class="text-light">El Borracho Fiel</h4>
        <p class="text-light">&copy; 2024. Todos los derechos reservados.</p>
        <p class="text-light"><i class="bi bi-geo-alt-fill footer-icon text-danger"></i> {{ contacto_sitio.lugar }}</p>
        <p class="text-light"><i class="bi bi-telephone-fill footer-icon text-success"></i> {{ contacto_sitio.telefono}}
        </p>
        <p class="text-light"><i class="bi bi-clock-fill footer-icon text-warning"></i>
            {{contacto_sitio.horario_atencion }}</p>
    </div>
    <div class="col-md-4">
        <h4 class="text-light">Enlaces</h4>
        <ul class="list-unstyled">
            <li><a href="{% url 'inicio' %}" class="text-light text-decoration-none footer-link"><i
                        class="bi bi-house-door-fill footer-icon text-primary"></i> Inicio</a></li>
            <li><a href="{% url 'nosotros' %}" class="text-light text-decoration-none footer-link"><i
                        class="bi bi-info-circle-fill footer-icon text-info"></i> Acerca de</a></li>
            <li><a href="{% url 'productos' %}" class="text-light text-decoration-none footer-link"><i
                        class="bi bi-box-seam footer-icon text-warning"></i> Productos</a></li>
            <li><a href="{% url 'contactos' %}" class="text-light text-decoration-none footer-link"><i
                        class="bi bi-envelope-fill footer-icon text-success"></i> Contacto</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h4 class="text-light">Síguenos</h4>
        <ul class="list-unstyled">
            {% if contacto_sitio.facebook_url %}
            <li><a href="{{ contacto_sitio.facebook_url }}" class="text-light text-decoration-none footer-link"><i
                        class="bi bi-facebook footer-icon text-primary"></i> Facebook</a></li>
            {% endif %}
            {% if contacto_sitio.twitter_url %}
            <li><a href="{{ contacto_sitio.twitter_url }}" class="text-light text-decoration-none footer-link"><i
                        class="bi bi-twitter footer-icon text-info"></i> Twitter</a></li>
            {% endif %}
            {% if contacto_sitio.instagram_url %}
            <li><a href="{{ contacto_sitio.instagram_url }}" class="text-light text-decoration-none footer-link"><i
                        class="bi bi-instagram footer-icon text-danger"></i> Instagram</a></li>
            {% endif %}
            {% if contacto_sitio.whatsapp_url %}
            <li><a href="{{ contacto_sitio.whatsapp_url }}" class="text-light text-decoration-none footer-link"><i
                        class="bi bi-whatsapp footer-icon text-success"></i> WhatsApp</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}